name: .NET build w/o release

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  RETENTION_DAYS: 1

jobs:
  determine_version:
    name: Determine version
    uses: ./.github/workflows/_determine_version.yml

  test:
    name: Unit tests
    uses: ./.github/workflows/_unit_tests.yml

  publish_qlty:
    name: Publish to Qlty.sh
    needs: [test]
    if: ${{ github.event_name != 'pull_request' }}
    uses: ./.github/workflows/_publish_qlty.yml
    secrets: inherit
    permissions:
      contents: read
      id-token: write

  pack_macos:
    name: Pack for macOS
    needs: [determine_version, test]
    
    uses: ./.github/workflows/_pack_macos.yml
    with:
      assembly_version: ${{ needs.determine_version.outputs.assembly_version }}
      is_dry_run: true
    secrets: inherit

  pack_win:
    name: Pack for Windows
    needs: [determine_version, test]
    
    uses: ./.github/workflows/_pack_win.yml
    with:
      semantic_version: ${{ needs.determine_version.outputs.semantic_version }}
      assembly_version: ${{ needs.determine_version.outputs.assembly_version }}
  
  release:
    name: Release
    needs: [determine_version, test, pack_macos, pack_win]

    permissions:
      contents: write

    uses: ./.github/workflows/_release.yml
    with:
      semantic_version: ${{ needs.determine_version.outputs.semantic_version }}
      is_dry_run: true
    secrets: inherit
